<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.cornerofseven.castroid" android:versionCode="1"
	android:versionName="1.1">
	<uses-sdk android:minSdkVersion="8" 
              android:targetSdkVersion="9"/>
    <application android:label="@string/app_name"
		android:theme="@android:style/Theme.Light" android:icon="@drawable/ic_launcher_castroid">

		<!-- <provider android:name=".data.TransitDataProvider" android:authorities="com.mooney_ware.android.transit.TransitDataProvider"/> -->

		<provider android:name=".data.PodcastDataProvider"
			android:authorities="com.cornerofseven.castroid.data.PodcastDataProvider" />

		<activity android:label="@string/app_name" android:name=".Castroid">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>
		
		<activity android:label="@string/app_name" android:name=".NewFeed">
		  <intent-filter android:label="@string/resolve_addfeed"></intent-filter>
        </activity>
		
		<activity android:label="@string/app_name" android:name=".simpleinterfaces.FeedList">
			<!-- <intent-filter> <action android:name="android.intent.action.MAIN" 
				/> <category android:name="android.intent.category.LAUNCHER" /> </intent-filter> -->
		</activity>

		<activity android:label="@string/app_name" android:name=".FeedInformationView">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.cornerofseven.feed" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:label="@string/app_name" android:name=".ItemInformationView">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.cornerofseven.item" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".MediaStreamer"></activity>
        
        <!--Download Service-->
        <service android:name=".network.DownloadService" />
	</application>
	
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 
